# Metadata
include MANIFEST.in
include README.md pyproject.toml setup.py LICENSE

# Python byte code
global-exclude *.py[cod]

# C source files
recursive-include gdf/lib *.c *.h CMakeLists.txt

# Shared libraries
include gdf/lib/*.so
include gdf/lib/*.dylib

# Examples
recursive-include examples *.py *.ipynb

# Tests
recursive-include tests *.py *.ipynb
